<% layout ('./layout/pattern') -%>

<div class="container">
    <div class="row">

        <div class="col">

         <% if (Object.keys(statistics).length != 0) { %>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Сумма</th>
                    <th scope="col">Среднее</th>
                    <th scope="col">Минимальное</th>
                    <th scope="col">Максимальное</th>
                </tr>
                </thead>

                <tbody>
                <td><%=statistics.amount%></td>
                <td><%=statistics.average%></td>
                <td><%=statistics.min%></td>
                <td><%=statistics.max%></td>
                </tbody>
            </table>
        <% } %>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Номер счетчика</th>
                    <th scope="col">Счетчик</th>
                    <th scope="col">Место</th>
                    <th scope="col">Показания</th>
                    <th scope="col">Дата заполнения</th>
                </tr>
                </thead>

                <% for (var i=0; i< counters.length; i++) { %>
                <tbody>
                <th scope="row"><%=i+1%></th>
                <td><%=counters[i].number%></td>
                <td><a href="/counter/<%=counters[i].id%>"><%=counters[i].type%></a></td>
                <td><%=counters[i].place%></td>
                <td><%=counters[i].data%></td>
                <td><%=counters[i].date_completion%></td>
                </tbody>
                <% } %>
            </table>

        </div>

        <div class="col">
            <form>
                <fieldset>
                    <div class="form-group">
                        <label for="number">Номер счетчика</label>
                        <input type="number" id="number" class="form-control" placeholder="Номер счетчика" required min="1">
                    </div>
                    <div class="form-group">
                        <label for="name">Счетчик</label>
                        <select class="form-control" id="type">
                            <option value="Водяной">Водяной</option>
                            <option value="Газовый">Газовый</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="type">Место</label>
                        <select class="form-control" id="place">
                            <option value="Кухня">Кухня</option>
                            <option value="Ванная">Ванная</option>
                            <option value="Комната 1">Комната 1</option>
                            <option value="Комната 2">Комната 2</option>
                            <% if (user.type == "Дом") { %>
                                <option value="Другое">Другое</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="data">Показания</label>
                        <input type="number" id="data" class="form-control" placeholder="Показания" min="0" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </fieldset>
            </form>
        </div>

    </div>
</div>

<script>
    var form = document.querySelector("form");
    form.addEventListener("submit", addData);

    function addData(event) {
        event.preventDefault();

        var newData = {};
        newData.number = document.querySelector("#number").value;
        newData.type = document.querySelector("#type").value;
        newData.place = document.querySelector("#place").value;
        newData.data = document.querySelector("#data").value;

        $.ajax({
            type: 'POST',
            url: '/add-counter',
            dataType: 'json',
            data: newData,
            success: function (data) {
                //alert(data.message);
                location.reload();
            },
            error: function () {
                location.reload();
            }
        });
    }
</script>